<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="5; url=/">
{% endif %}


  <title>{{ page.title }}</title>
  
  <script src="{{ '/assets/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/personal.js' | prepend: site.baseurl }}"></script>
  
  <link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'></link>
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}"></link>
  
</head>