@CHARSET "UTF-8";
#homeBodyDiv{
	width:1000px;
	margin-left:175px;
	
	float:left
}

#homeSideBarDiv{
	width:200px;
	height:100%;
	float:left;
}

#homeMenuBtn{
	position:absolute;
	left:1200px;
	margin-top:50px;
	text-align:center;
	width:70px;
	height:30px;
	line-height:30px;
	font-size:20px;
	border-radius:6px;
	color:white;
	background-color:rgba(0, 0, 0, 0.2);
	cursor:pointer;
}

#homeMenuBtn:hover{
	background-color:rgba(0, 0, 0, 0.8);
}

#homeMenuBtn:visited{
	background-color:rgba(83,30,99,0.5);
}

body{
  font-family: "Monaco", "SimSun", "宋体";
}