@CHARSET "UTF-8";
#homeBodyDiv{
	width:1000px;
	margin-left:175px;
	
	float:left
}

#homeSideBarDiv{
	width:200px;
	height:100%;
	float:left;
}

#homeMenuBtn{
	position:absolute;
	left:1200px;
	margin-top:50px;
	text-align:center;
	width:100px;
	height:30px;
	line-height:30px;
	font-size:20px;
	color:white;
	background-color:black;
}

body{
  font-family: "Monaco", "SimSun", "宋体";
}