#homeBodyDiv{
	width:1000px;
	margin-left:175px;
	
	float:left
}

#homeSideBarDiv{
	width:200px;
	height:100%;
	float:left;
}

#homeMenuBtn{
	width:100px;
	height:50px;
	background-color:black;
	font-size:20px;
	color:white;
	position:absolute;
	left:1200px;
}