@CHARSET "UTF-8";
#mainDiv {
  float:left;
  margin-left:20px;
  margin-top:30px;
  width:76%;
  background:rgba(123,32,22,0.1);
}

#leftDiv{
  width:21%;
  height:620px;
}

#sidebar{
  float:left;
  width:98%;
  height:620px;  
}

#leftDiv{
  float:left;
  background:rgba(0,0,0,0.1);
}

.pageTitle{
  height:70px;
  text-align:center;
  font-size:35px;
  font-family:"KaiTi", "楷体", "Monaco"
}

body{
  font-family: "Monaco", "SimSun", "宋体";
}

.btnDiv{
  width:98%;
  margin-top:5px;
  padding: 5px;
  text-align: center;
  height:30px;
  padding:5px;
}

#content{
  text-align:left;
  padding:10px;
  margin-left:5px;
}

.openMenuBtn{
  width:60px;
  height:20px;
  float:right;
  background:rgba(0,0,0,0.8);
  color:white;
  text-align:center;
  margin-right:15px;
  margin-top:10px;
  cursor:pointer;
}

.closeMenuBtn{
  
}

.openMenu{
	
}

.closeMenu{
	
}