@CHARSET "UTF-8";
#mainDiv {
  float:left;
  margin-left:20px;
  margin-top:30px;
  width:780px;
  background:rgba(123,32,22,0.1);
}

#leftDiv #sidebar{
  width:280px;
  height:620px;
  background:rgba(0,0,0,0.1);
}

#leftDiv{
  float:left;
}

.pageTitle{
  height:70px;
  text-align:center;
  font-size:35px;
  font-family:"KaiTi", "楷体", "Monaco"
}

body{
  font-family: "Monaco", "SimSun", "宋体";
}

.btnDiv{
  width:98%;
  margin-top:5px;
  padding: 5px;
  text-align: center;
  height:30px;
  padding:5px;
}

#content{
  text-align:left;
  padding:10px;
  margin-left:5px;
}