@CHARSET "UTF-8";
#mainDiv {
  float:left;
  margin-left:20px;
  margin-top:50px;
  width:780px;
  background:rgba(123,32,22,0.1);
}

#leftDiv #sidebar{
  width:280px;
  height:620px;
  background:rgba(0,0,0,0.1);
}

#leftDiv{
  float:left;
}

.pageTitle{
  text-align:center;
  font-size:35px;
}

body{
  font-family: 楷体;
}