<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>
    <div id="leftDiv">
	  {% include sidebar.html %}
	</div>
  
    <div id="mainDiv">
      <div class="pageTitle">{{ page.title }}</div>
      {{ content }}
      <div style="text-align:right;height:30px;margin-top:30px;">{{ page.date | date_to_string }}</div>
	  <div class="btnDiv">
	    <button id="backBtn">返回</button>
	  </div>
    </div>
  </body>
  <script type="text/javascript">
	$('#backBtn').on('click',function(){
	  history.go(-1);
	})
  </script>
</html>