<!DOCTYPE html>

<html>

  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>
  
    <script src="{{ '/assets/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
  
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}"></link>
  
  </head>

  <body>
    <div id="homeHead" style="width:100%;height:300px;background:rgba(109,109,109,1);z-index:300"></div>
    <div id="homeBodyDiv">
  
      <div >
	    <div id="homeContent">{{ content }}</div>
      </div>
	</div>
	<div id="homeSideBarDiv">
	  <div id="homeSideBar" style="display:block;padding:30px 20px;white-space:nowrap;">
		<div style="font-size:20px;">
			菜单
		</div>
		{% for category in site.categories %}
		<div style="padding:10px;">
			<span class="category" category="{{ category | first }}" style="color:white;">
			  <svg style="width:10px;height:10px;">
			    <polygon points="3,0  10,5  3,10"style="fill:white;" />
			  </svg>&nbsp;{{ category | first }}
			</span>(<span style="color:white;">{{ category | last | size }}</span>)
			<div style="display:none;padding-top:5px;">
				{% for post in category.last %}
				<div style="padding-left:20px;color:white;">-<a href="{{ site.baseurl }}{{ post.url }}" style="color:white;" class="link">{{ post.title }}</a></div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		
      </div>
	</div>
	<div id="homeMenuBtnDiv">
		<!-- <div style="width: 30px; height: 4px;border-top: 4px solid #DD575C;border-bottom: 4px solid #DD575C;background-color: #DD575C;padding: 4px 0;background-clip:content-box; "></div>-->
		<a id="homeMenuBtn" class="btn"><span style="font-size:15px;position:relative;left:4px;top:-2px;">菜单</span></a> 
	</div>
	<div id="homeTopBtnDiv" style="width:40px;height:40px;right:100px;bottom:-48px;position:fixed;">
		<a id="homeTopBtn" title="回到页头" class="btn" style="cursor: pointer;"><span>▲</span></a>
	</div>
  </body>
  <script type="text/javascript">
	$(document).ready(function(){ 
		const preURL = "https://wangjianjie606.github.io";
		
		$("#homeMenuBtn").on("click",()=>{
			//alert("aaa");
			const left = $("#homeBodyDiv").css("margin-left");
			if(typeof left === "string"){
				left.substr(left.length-2) == "px" ? moveDiv(parseInt(left.substring(0,left.length-2))):console.error("wrong string");
			}else if(typeof left === "number"){
				moveDiv(left);
			}else console.error("wrong type");
		});
		
		const moveDiv = left =>{
			//主体往左移动100px，显示菜单div 宽度280px 显示为分类及其子项
			const moveValue = 100;
			if(left>moveValue){
				$("#homeMenuBtn").css("background-color","rgb(35,35,35)");
				$("#homeBodyDiv").animate({"margin-left" : left-moveValue});
				$("#homeSideBarDiv").animate({"width" : moveValue*2+"px"});
				$("#homeMenuBtnDiv").animate({"right" : "+="+(moveValue+20)+"px"});
			}else{
				$("#homeMenuBtn").css("background-color","rgb(204,204,204)");
				$("#homeBodyDiv").animate({"margin-left" : left+moveValue});
				$("#homeSideBarDiv").animate({"width" : "0px"},"normal",()=>{});
				$("#homeMenuBtnDiv").animate({"right" : "-="+(moveValue+20)+"px"});
			}
		}
		
		//菜单随滚动条滚动
		$(window).scroll(()=>{
			const scrollY = window.scrollY;
			if(scrollY<300){
				$("#homeMenuBtnDiv").css("top",300-scrollY+"px");
				$("#homeSideBarDiv").css("top",308-scrollY+"px");
			}else if($("#homeMenuBtnDiv").css("left")!="300px"){
				$("#homeMenuBtnDiv").css("top","0px");
				$("#homeSideBarDiv").css("top","0px");
			}
			
			if(scrollY<900)
				$("#homeTopBtnDiv").animate({"bottom":"-48px"},{queue:false});
			else	
				$("#homeTopBtnDiv").animate({"bottom":"35px"},{queue:false});
		});
	/*
		$(".category").on("click", cat => {
			var a = 1;
		});
	*/

		$(".category").on("click",function(){
			const right="3,0  10,5  3,10",down="0,3  10,3  5,10";
			const o = $(this).parent().children("div");
			if(o.css("display")=="none"){
				o.css("display","block");
				$(this).children().children().attr("points",down);
			}else{ 
				o.css("display","none");
				$(this).children().children().attr("points",right);
			}
		});
		
		$("#homeTopBtn").click(()=>{
			$("html, body, .content").animate({scrollTop:0}); 
		});
		
		const initPage = ()=>{
			if(window.scrollY > 300){
				$("#homeMenuBtnDiv").css("top","0px");
				$("#homeSideBarDiv").css("top","0px");
			}else{
				$("#homeMenuBtnDiv").css("top",300-window.scrollY+"px");
				$("#homeSideBarDiv").css("top",308-window.scrollY+"px");
			}
			
			if(window.scrollY > 900){
				$("#homeTopBtnDiv").css("bottom","35px");
			}else{
				$("#homeTopBtnDiv").css("bottom","-48px");
			}
		}
		initPage();
	});
  </script>
</html>