<!DOCTYPE html>

<html>

  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>
  
    <script src="{{ '/assets/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script>
  
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}"></link>
  
  </head>

  <body>
    <div id="homeHead" style="width:100%;height:300px;background:rgba(109,109,109,1);z-index:300"></div>
    <div id="homeBodyDiv">
  
      <div >
	    <div id="homeContent">{{ content }}</div>
      </div>
	</div>
	<div id="homeSideBarDiv">
	  <div id="homeSideBar" style="display:block;padding:30px 20px;white-space:nowrap;">
		<div style="font-size:20px;">菜单</div>
		{% for category in site.categories %}
		<div style="padding:10px;">
			<span class="category" category="{{ category | first }}" >
			  <svg style="width:10px;height:10px;">
			    <polygon points="3,0  10,5  3,10"style="fill:black;" />
			  </svg>&nbsp;{{ category | first }}
			</span>(<span>{{ category | last | size }}</span>)
			<div style="display:none;">
				{% for post in category.last %}
				<div style="padding-left:10px">-<a href="{{ site.baseurl }}{{ post.url }}" class="link">{{ post.title }}</a></div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
		
      </div>
	</div>
	<div id="homeMenuBtnDiv"> <a id="homeMenuBtn" class="btn">菜单</a> </div>
  </body>
  <script type="text/javascript">
	const preURL = "https://wangjianjie606.github.io";
	$("#homeMenuBtn").on("click",()=>{
		//alert("aaa");
		const left = $("#homeBodyDiv").css("margin-left");
		if(typeof left === "string"){
			left.substr(left.length-2) == "px" ? moveDiv(parseInt(left.substring(0,left.length-2))):console.error("wrong string");
		}else if(typeof left === "number"){
			moveDiv(left);
		}else console.error("wrong type");
	});
	
	const moveDiv = left =>{
		//主体往左移动140px，显示菜单div 宽度280px 显示为分类及其子项
		const moveValue = 140;
		if(left>moveValue){
			$("#homeBodyDiv").animate({"margin-left" : left-moveValue});
			$("#homeSideBarDiv").animate({"width" : moveValue*2+"px"},"normal",
				()=>{
					//$("#homeSideBar").css("display","block");
				});
			$("#homeMenuBtnDiv").animate({"right" : "+="+(moveValue+20)+"px"});
		}else{
			$("#homeBodyDiv").animate({"margin-left" : left+moveValue});
			$("#homeSideBarDiv").animate({"width" : "0px"},"normal",()=>{});
			$("#homeMenuBtnDiv").animate({"right" : "-="+(moveValue+20)+"px"});
		}
	}
	
	//菜单随滚动条滚动
	$(window).scroll(()=>{
		const scrollY = window.scrollY;
		if(scrollY<300){
			$("#homeMenuBtnDiv").css("top",300-scrollY+"px");
			$("#homeSideBarDiv").css("top",308-scrollY+"px");
		}else if($("#homeMenuBtnDiv").css("left")!="300px"){
			$("#homeMenuBtnDiv").css("top","0px");
			$("#homeSideBarDiv").css("top","0px");
		}
	});
/*
	$(".category").on("click", cat => {
		var a = 1;
	});
*/

	$(".category").on("click",function(){
		const right="3,0  10,5  3,10",down="0,3  10,3  5,10";
		const o = $(this).parent().children("div");
		if(o.css("display")=="none"){
			o.css("display","block");
			$(this).children().children().attr("points",down);
		}else{ 
			o.css("display","none");
			$(this).children().children().attr("points",right);
		}
	})
  </script>
</html>